/* ROOT */

:root {
    font-size: 50%;
    --color-font-one: #4d6e76;
}
    .post-header-wrap.is-center {
    text-align: left;
}

#istvan {
    max-width: 50%;
    }

        img {
    border: 0;
    margin: 0;
}

/* HEADER */

.header-nav a {
    text-transform: uppercase;
}
    .subscribe-form {
    border-left: 15px solid #ffd27a;
}
    .post-share > div a {
    background-color: #ffd37b;
}

/* GLOBAL */

.global-wrap, .global-content {
    min-height: 100vh;
    margin: auto;
}

/* POST CONTENT */

.post-content {
    max-width: unset;
}
.post-content a {
    color:#8c5379;
    text-decoration:none;
}
.post-content blockquote {
    border-left: 6px solid #ffdc7a;
}

/* TYPOGRAPHY */


.post-content h2 {
    font-size: 3.8rem;
    letter-spacing: 2px;
    word-spacing: 8px;
}
.post-content h2:first-child {
    letter-spacing: 2px;
    word-spacing: 8px;
}

h1, h2, .hero-title, .item-title {
    font-family: 'Prata', serif;
    text-transform: uppercase;
}
h3, h4, h5, h6, .subscribe-title, blockquote {
    font-family: 'Inter', sans-serif;
}
.post-content h1, .post-content h2 {
    margin-top: 2em;
}
.post-content h1:first-child, .post-content h2:first-child {
    margin-top: 2em;
}
.post-content h1, .post-content h2, .post-content h3 {
    line-height: 1.4;
    margin-bottom: 32px;
}
.post-content h1, .post-content h2, .post-content h3, .post-content blockquote, .post-content p {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.post-content .imw-minicard h1:first-child, .post-content h2:first-child {
   }

/* FOOTER */

.footer-description, .global-excerpt {
    opacity: 1;
}

/* MEDIA QUIRIES */

@media (max-width: 1024px) {
    .header-toggle .bar:nth-child(1) {
        top: -8px;
    }
    .header-toggle .bar:nth-child(3) {
    top: 8px;
}
    
    }
    
    .header-wrap li, .header-wrap a {
    text-transform: uppercase;
}


/* MINICARD */

    .imw-minicard {
  display: flex;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
    max-width: 1200px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    background:#fff;
    box-sizing: border-box;
        height:auto;
}
.imw-minicard-reversed {
    flex-direction: row-reverse;
}
.imw-minicard-pic-box {
  display: block;
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 50%;
  align-self: auto;
    background-color: #ffdc7a;
}
.imw-minicard-pic {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.imw-minicard-text-box {
  display: flex;
    flex-direction: column;
    justify-content: center;
  flex-grow: 3;
  flex-shrink: 0;
  flex-basis: 50%;
  align-self: auto;
    padding: 30px;
    box-sizing: border-box;
}

.imw-minicard-text-box p {
    font-family: sans-serif;
}
.post-content img.imw-minicard-pic {
    height: 100%;
    border-radius: 0px;
}

/* PICTURE CARD */

.imw-card-wrapper {
        margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
        }
    
.imw-card {
    display: grid;
    height: auto;
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    font-family: sans-serif;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffd27a;
    animation: imw-card-in 500ms;
    grid-gap: 10px;
    border: 0px solid #ffd27a;
}
        
.imw-card-pic-box {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 1;
        overflow: hidden;
    }
    .imw-card-pic {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .post-content img.imw-card-pic {
        height: 100%;
        border-radius: 0px;
    }
    .imw-card-text-box {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #ffffff;
}
    .imw-card-title {
        width: 100%;
        padding: 30px 24px 10px;
    }

    .imw-card .imw-card-text-box h2:first-child {
    margin-top: 0em;
}
.imw-card .imw-card-text-box h2 {
    margin-top: 0em;
}
    .imw-card-content {
        padding: 10px 24px 20px;
    }
    .imw-card-info {
        padding: 10px 24px 0px;
    }

    @media (max-width: 640px) {
    .imw-card {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        max-width: 400px;     
        }
    .imw-card-title {
    padding: 30px 0px 10px;
    }
    .imw-card-content {
        padding: 10px 0px 20px;
    }
    .imw-card-pic-box {
        grid-area: 1 / 1 / 2 / 2;
    }
    .imw-card-text-box {
        grid-area: 2 / 1 / 3 / 2;
    }
    }

@media (max-width: 1024px) {
    .imw-card p {
    font-size: 1.5rem;
}
    }
    @media (max-width: 768px) {
    .imw-minicard {
        max-width: 600px;
        flex-direction: column;
        }
    }

/* HEROPAGE header grid */
.imw-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: start;
    justify-items: start;
    width: 100%;
}
.imw-grid-title-box {
    grid-area: 1/1/2/2;
    z-index: 1;
    background: #a1a1a145;
    padding-bottom: 0px;
    padding-left: 0px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    align-content: space-around;
}
.imw-grid-title-box h1 {
    color: #fff;
    }
.imw-grid-title-box.post-header-content {
    max-width: inherit;
    }

.imw-grid-title-box .post-excerpt {
    font-size: 4rem;
    color: #fff;
    font-weight: 600;
}

.imw-heropage.global-padding {
    max-width: var(--max-width-global-wrap);
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
}
.imw-grid-title-box .post-title {
    font-size: 7rem;
}
.imw-grid-image-box {
    grid-area: 1/1/2/2;
    }
.global-image-orientation {
    position: unset;
    }
.global-image-orientation > img {
    position: unset;
    }
.imw-grid-image-box.post-header-image {
    margin-top: 0px;
    }
  
.global-image-orientation.is-panoramic {
    aspect-ratio: 4/2.3;
    }

@media all and (max-width: 768px) and (orientation: portrait) {
    .global-image-orientation.is-panoramic {
    aspect-ratio: 4/5;
    }
    }

@media (max-width: 1024px) {
    .imw-grid-title-box .post-title {
    font-size: 8rem;
}
.imw-grid-title-box .post-excerpt {
    font-size: 3.6rem;
}
    }

@media (max-width: 768px) {
    .imw-grid-title-box .post-title {
    font-size: 6rem;
}
.imw-grid-title-box .post-excerpt {
    font-size: 3.2rem;
}
    }

@media (max-width: 640px) {
    .imw-grid-title-box .post-title {
    font-size: 5rem;
}
.imw-grid-title-box .post-excerpt {
    font-size: 2.8rem;
}
    }
@media (max-width: 480px) {
    .imw-grid-title-box .post-title {
    font-size: 4rem;   
}
.imw-grid-title-box .post-excerpt {
    font-size: 2.4rem;
}
    }
